# settings.json has credentials, not to publish. Guideline to update this file is published instead.
settings.json

# R Markdown Notebook is not to publish yet
R-markdown-notebooks/

# Jupyter Notebook
.ipynb_checkpoints

# Other VS Code related files
.vs/
